/*.payment-container{*/
/*    width: 800px !important;*/
/*    margin-top: 10%;*/
/*}*/

/*.payment-container {*/
/*    margin-top: 10%;*/
/*    padding: 20px;*/
/*}*/
.payment-container {
    max-width: 800px; /* Set the maximum width */
    width: 100%; /* Make it take full width up to the max-width */
    margin-top: 10%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for better appearance */
}

.payment-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.dashboard{
    margin-top: 10%;
}

.mpesa-payment-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

img{
    width: 100%;
}